* {
    font: sans-serif;
}

body {
    background: black;
}

a {
    color:#fff;
}

h2{
    color:#fff;

}

.centered {
  position: fixed;
  /*top: 50%;*/
  left: 50%;
  /*margin-top: -50px;*/
  margin-left: -140px;
  text-align: center;
}



/*AA MAP CSS /////////////////////////////////////////////////////////////*/

#mapid { height: 800px; }