* {
    font: sans-serif;
}

body {
    background: black;
}

a {
    color:#04b387;
    font-family: "Staatliches";
}

h2{
    color:#fff;
    font-family: "Staatliches";
    font-size: 45pt;
    letter-spacing: 0.03em;
}

h3 {
    color:#fff;
    font-family: "Staatliches";
    font-size: 28pt;
}

.centered {
  position: fixed;
  /*top: 50%;*/
  left: 50%;
  /*margin-top: -50px;*/
  margin-left: -240px;
  text-align: center;
}



/*AA MAP CSS /////////////////////////////////////////////////////////////*/

#mapid { height: 1000px; }